{{ $dateFormat := default "Jan 2, 2006" (index .Site.Params "datefmt") }}

<div class="post-meta">
    {{/* Display the date if set */}}
    {{- if not .Date.IsZero -}}
    <span style="font-size: x-small;"> Date &#x5b;
    <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format $dateFormat }}</time>
    &#x5d;
    {{- end -}}
    {{/* Display taxonomies if available */}}
    {{- $hasTaxonomies := false }}
    {{- range $taxo, $taxonomy := .Site.Taxonomies }}
    {{- $elems := $.Param $taxo }}
    {{- if $elems }}
    {{ $taxo | humanize }} &#x5b;
    {{- range $name := $elems }}
    {{- with $.Site.GetPage (lower (printf "/%s/%s" $taxo (urlize $name))) }}
    <a href="{{ .Permalink }}">{{ $name }}</a>
    {{- end }}
    {{- end }}
    &#x5d;
    {{- $hasTaxonomies = true }}
    {{- end }}
    {{- end }}
    {{/* Display last updated if available */}}
    {{- if not .Lastmod.IsZero -}}
        {{- if or (not .Date.IsZero) $hasTaxonomies }}<span> </span>{{- end }} <!-- Added separator -->
        Last updated &#x5b;
        <time datetime="{{ .Lastmod.Format "2006-01-02" }}">{{ .Lastmod.Format $dateFormat }}</time>
        &#x5d;</span>
    {{- end -}}
</div>